body {
  font-family: "Open Sans";
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

html,
body,
#root,
.app {
  height: 100%;
}

.app {
  @include flex-col;
}

.page {
  flex: 1 0 0;
}
