$btn-default-background: #363636;
$btn-primary-background: #1c48c3;
$btn-dark-color: #000000;
$btn-light-color: #ffffff;
$btn-icon-size: 48px;
$btn-icon-size-small: 36px;
$btn-icon-size-large: 60px;

.btn {
  @include flex-c;

  display: inline-flex;
  padding: 8px 15px;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &[disabled] {
    pointer-events: none;
    opacity: 0.8;
    filter: grayscale(0.6);
  }
}

.btn-default {
  background-color: $btn-default-background;
  color: $btn-light-color;

  &:hover {
    background-color: darken($btn-default-background, 5);
  }
}

.btn-primary {
  background-color: $btn-primary-background;
  color: $btn-light-color;

  &:hover {
    background-color: darken($btn-primary-background, 5);
  }
}

.btn-light {
  background-color: transparent;
  color: $btn-light-color;

  &:hover {
    background-color: rgba(1, 1, 1, 0.2);
  }
}

.btn-dark {
  background-color: transparent;
  color: $btn-dark-color;

  &:hover {
    background-color: rgba(1, 1, 1, 0.2);
  }
}

.btn-icon {
  font-size: 24px;
  width: $btn-icon-size;
  height: $btn-icon-size;

  &.small {
    font-size: 16px;
    width: $btn-icon-size-small;
    height: $btn-icon-size-small;
  }

  &.large {
    font-size: 32px;
    width: $btn-icon-size-large;
    height: $btn-icon-size-large;
  }
}
