$modal-z: 99;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  max-width: 540px;
  width: 95%;
  z-index: $modal-z;
  border-radius: 4px;
  overflow: hidden;
}

.modal-header {
  @include flex-row;

  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e2e2e2;
}

.modal-title {
  flex: 1 0 0;
  font-weight: bold;
  color: #000000;
  margin-right: 10px;
}

.modal-body {
  background-color: #ffffff;
  padding: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 1, 1, 0.5);
  z-index: $modal-z - 1;
}
